<div class="cocktails-background">
  <div class="cocktails-show container">
    <div class="row justify-content-around">
      <div class="cocktails-show-image-box">
        <% if @cocktail.image_url %>
          <%= image_tag @cocktail.image_url, width: 600 %>
        <% end %>
        <% unless @cocktail.photo.file.nil? %>
          <%= cl_image_tag @cocktail.photo, height: 350, width: 350, crop: :fill %>
        <% end %>
      </div>
      <div class="cocktails-show-description card" style="width: 400px">
        <div class="card-title text-center mt-3 px-1 pt-3">
          <h3 class="cocktails-show-title"><%= @cocktail.name %></h3>
        </div>
        <div class="cocktail-instructions card-body">
          <p><%= @cocktail.instructions %></p>
          <% @cocktail.doses.each do |dose| %>
            <p>
              <span class="ingredient-name ml-3"><%= dose.ingredient.name %> </span>
              <span class="ingredient-quantity">(<%= dose.description %>) </span>
              <%= link_to dose, method: :delete, class: 'ingredient-delete mr-3' do %>
                <i class="far fa-trash-alt text-danger"></i>
              <% end %>
            </p>
          <% end %>
          <h4 class="dose-heading mt-4 mb-3">Add a Dose</h4>
          <div class="div mt-3">
            <%= simple_form_for([@cocktail, @dose]) do |f| %>
              <%= f.input :quantity, label: 'Quantity *', placeholder: 'Enter Quantity' %>
              <%= f.input :measure, label: 'Measure *', collection: Dose::MEASURES%>
              <%= f.input :variety, collection: Dose::VARIETIES %>
              <%= f.input :ingredient_id, label: 'Ingredient *', collection: Ingredient.order('name ASC') %>
              <%= f.button :submit, class: 'btn cocktails-show-submit' %>
            <% end %>
            <div class="back-link">
              <%= link_to 'Go Back', root_path, class: 'btn cocktails-show-back-link' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>